/*
* @Author: Jingyuexing
* @Date:   2022-08-06 18:32:37
* @Last Modified by:   Jingyuexing
* @Last Modified time: 2022-08-07 15:10:32
*/
* {
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: auto;
}

.w-100,
[w-100] {
  width: 100px;
}

.w-200,
[w-200] {
  width: 200px;
}

.h-120,
[h-120] {
  height: 120px;
}

.h-100,
[h-100] {
  height: 100px;
}

[h-300] {
  height: 300px;
}

.root,
[data-root] {
  margin: 0 auto;
  overflow-y: scroll;
}

*[mounted-center]{
  margin: 0 auto;
  width: 80%;
}
.card,
*[card] {
  border-radius: 6px;
  box-shadow: 0px 1px 14px #cecece;
  overflow: hidden;
  padding: 3px 5px;
}

.card-title,
[card]>[title],
.card-content,
[card]>[content],
.card-footer,
[card]>[footer] {
  width: auto;
  height: auto;
}

.card-title,
[card]>[title] {}

.card-content,
[card]>[content] {}

.card-footer,
[card]>[footer] {}

.box {
  margin: 8px;
}

*[\~],
[flex] {
  display: flex;
}

[row] {
  flex-direction: row;
}

[column] {
  flex-direction: column;
}

[space-around] {
  justify-content: space-around;
}

[inline] {
  display: inline-block;
}

[center] {
  align-items: center;
}
